target/
!.mvn/wrapper/maven-wrapper.jar

src/main/resources/application.properties
src/main/resources/orcl_hikari.properties
src/main/resources/temp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


######################
# Node
######################
/node/**
/node_tmp/**
/node_modules/**

