<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/css/bootstrap-theme.min.css"/>
</head>
<body>
<div id="container"></div>
<script src="/lib/js/react.js"></script>
<script src="/lib/js/react-dom.js"></script>
<script type="text/javascript" src="/bundle.js"></script>
</body>
</html>